
.card {
  font-weight: bold;
  padding: 1em;
  text-align: right;
  color: #181a1a;
  
  box-shadow: 0 1px 5px #7FCEF0;
  
    height: 120px;
    width: 120px;

  background-size: cover;
  
  position: relative;
  
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  
  transition-duration: 150ms;
  box-shadow: 1px 1px 20px 5px #7FCEF0;
}


.card .glow {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.bs_math_degree {
    background-image: url('../img/about me/BS_math_degree.png');
}

.ms_math_degree {
    background-image: url('../img/about me/MS_math_degree.png');
}

.cs_high_school {
    background-image: url('../img/about me/CS_high_school.png');
}

.researcher {
    background-image: url('../img/about me/researcher.png');
}

.sci_fai_winner {
    background-image: url('../img/about me/sci_fai_winner.png');
}