.toc {
    position: fixed;
    margin-left: -24%;
    width: 20%;
    border: 1px solid var(--text-color);
    padding: 10px;
    line-height: 25px;
}

.tldr {
    border-style: double;
    border-width: 5px;
}

body {
    margin-left: 25% !important;
}

h2, h3 {
    text-align: left    !important;
}


hr {
    border-width: 1px 1px 0 !important;
    border-style: double !important;
    width: 30%;
    margin: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

  /* Stili per dispositivi mobili */
@media only screen and (max-width: 950px) {
    body {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .toc {
        position: static;
        margin: auto;
        width: 90%;
        border: 1px solid var(--text-color);
        padding: 10px;
        line-height: 25px;
    }
}
