.toc {
    position: fixed;
    top: 0;
    margin-left: -28%;
    width: 26%;
    border: 1px solid var(--text-color);
    padding: 10px;
    line-height: 25px;
    word-break: break-all;
    max-height: 95%;
    overflow-y: auto;
}

/* CALLOUT */
.callout {
    font-style: italic;
    border: 3px outset var(--text-color);
    margin-left: 3ch;
}
.callout p {
    padding-left: 0;
    margin-top: -20px;
}
.callout legend {
    margin-left: 0;
}
.callout h4 {
    display: inline-block;
    font-size: 25px;
}
.callout .source {
    text-align: right;
    margin-top: 5px;
}

.callout_empty {
    font-style: italic;
    border: 3px outset var(--text-color);
    margin-left: 3ch;
}
.callout_empty p {
    padding-left: 0;
}
/* --- */


/* Use "body X" prefix (specificity 0,0,2) to reliably beat night_mode.css
   and styling.css element rules (specificity 0,0,1), regardless of load order. */

body p {
    padding-left: 3ch;
    padding-bottom: 3px;
    margin: 5px;
}

body b {
    color: var(--bold_color);
}

.tldr {
    border-style: double;
    border-width: 5px;
}

html body {
    margin-left: 30%;
    margin-right: 5%;
}

body h2, body h3 {
    text-align: left;
}
.subtitle {
    text-align: center;
    margin-bottom: 1ch;
}

body h2 a, body h3 a {
    padding-right: 20px;
    background: transparent url(../img/icon/link.png) no-repeat right;
    background-size: 15px 15px;
    color: var(--text-color);
}
body h2 a:hover, body h3 a:hover {
    color: var(--link-color);
}


body hr {
    border-width: 1px 1px 0;
    border-style: double;
    width: 30%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

body ul {
    padding-left: 5ch;
    text-align: left;
    list-style-type: disc;
}


/* Stili per dispositivi mobili */
@media only screen and (max-width: 950px) {
    html body {
        margin-left: 2%;
        margin-right: 2%;
    }
    .toc {
        position: static;
        margin: auto;
        width: 96%;
        border: 1px solid var(--text-color);
        padding: 10px;
        line-height: 25px;
    }
}
