.toc {
    position: fixed;
    top: 0;
    margin-left: -28%;
    width: 26%;
    border: 1px solid var(--text-color);
    padding: 10px;
    line-height: 25px;
    word-break: break-all;
    max-height: 95%;
    overflow-y: auto;
}

/* CALLOUT */
.callout {
    font-style: italic !important;
    border: 3px outset var(--text-color) !important;
    margin-left: 3ch;
}
.callout p {
    padding-left: 0 !important;
    margin-top: -20px !important;
}
.callout legend {
    margin-left: 0;
}
.callout h4 {
    display: inline-block;
    font-size: 25px;
}
.callout .source{
    text-align: right;
    margin-top: 5px !important;
}
/* --- */


p {
    padding-left: 3ch !important;
    padding-bottom: 3px !important;
    margin: 5px !important;
}

b {
    color: var(--bold_color) !important;
}

.tldr {
    border-style: double;
    border-width: 5px;
}

body {
    margin-left: 30% !important;
    margin-right: 5% !important;
}

h2, h3 {
    text-align: left !important;
}
.subtitle {
    text-align: center !important;
    margin-bottom: 1ch;
}

h2 a, h3 a {
    padding-right: 20px;
    background: transparent url(../img/icon/link.png) no-repeat right; /* Updated path */
    background-size: 15px 15px;
    color: var(--text-color);
}
h2 a:hover, h3 a:hover {
    color: var(--link-color);
}


hr {
    border-width: 1px 1px 0 !important;
    border-style: double !important;
    width: 30%;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

ul {
   padding-left: 5ch !important;
   text-align: left !important;
    list-style-type: disc !important;
}


/* Stili per dispositivi mobili */
@media only screen and (max-width: 950px) {
    body {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .toc {
        position: static;
        margin: auto;
        width: 90%;
        border: 1px solid var(--text-color);
        padding: 10px;
        line-height: 25px;
    }
}
