@import url('night_mode.css');

button {
    background-color: transparent;
    color: var(--link-color);
    border: solid;
    padding: 5px -10px;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;  /* Fixed width */
    height: 40px;  /* Fixed height */
    overflow: hidden;  /* Hide text overflow if necessary */
    border-width: 2px;
    font-size: 16px;
  }
  
button:hover {
    transform: scale(1.1);
    background-color: var(--hover-color);
  }
  