footer {
    display: flex;
    justify-content: space-between;
}
.footer-link {
    flex: 1;
    text-align: center;
}
.footer-link.left {
    text-align: left;
}
.footer-link.right {
    text-align: right;
}
footer a:hover {
    text-decoration: underline;
}