* {box-sizing:border-box}

img {
  max-height: 700px;
  max-width: 100%;
}


/* Slideshow container */
.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
  margin-bottom: 15px;
}
.single-image-container {
  width: 80%;
  position: relative;
  margin: auto;
  margin-bottom: 15px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  padding: 13px;
  color: var(--link-color);
  font-weight: bold;
  font-size: 15px;
  user-select: none;
  border: 1px solid var(--link-color);
}
.next {
  right: 0;
}
.prev {
  left: 0;
}
.prev:hover, .next:hover,
.prev:focus, .next:focus {
  color: var(--text-color);
  outline: 2px solid var(--link-color);
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  background-color: var(--text-color);
  border-radius: 50%;
  display: inline-block;
}
.active {
  background-color: var(--link-color);
}