* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  padding: 13px;
  color: var(--link-color);
  font-weight: bold;
  font-size: 15px;
  user-select: none;
  border: 1px solid var(--link-color);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: var(--text-color);
}

/* Caption text */
.text {
  color: var(--text-color);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--text-color);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--text-color);
  border-radius: 50%;
  display: inline-block;
}

.active {
  background-color: var(--link-color);
}

.dots {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}


.fullWidth {
  width: 100%;
}