img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.animated_img:hover {
    transform: scale(1.2); /* Ingrandisce l'immagine del 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra intorno all'immagine per un effetto più evidente */
    cursor: pointer;
}

/* Posters */
.poster_img {
    border-radius: 0px !important;
    filter: drop-shadow(#ababab 5px 5px 7px);
}
.poster_img:hover {
    transform: scale(1.05); /* Ingrandisce l'immagine del 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra intorno all'immagine per un effetto più evidente */
}
figure figcaption {
    text-align: center;
}

/* Icons */
.icon {
    width: 40px !important;
    border-radius: 0px !important;
}

.icon_left{
    vertical-align: left;
}

.icon_inline{
    vertical-align: middle; /* Allinea l'icona al centro verticale del testo */
    margin-right: 1px; /* Spazio tra l'icona e il testo */
    width: 30px;
    display: inline;
    border-radius: 5px !important;
}

/* Work with me */
.profile_img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.fa_icon {
    color: #6ed6f0;
    font-size: 150%;
}

/* QR CODE*/
.QR {
    width: 100%;
    max-width: 300px;
}