.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.left_div {
    float: left;
    width: 58%;
}

.right_div {
    float: right;
    width: 40%;
}



