.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.left_div {
    float: left;
    width: 58%;
}

.right_div {
    float: right;
    width: 40%;
}

.poster_img {
    border-radius: 0px !important;
    object-fit: cover;  
    width: 100%;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Aggiunge transizione per trasformazione e ombra */
}
.poster_img:hover {
    transform: scale(1.05); /* Ingrandisce l'immagine del 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra intorno all'immagine per un effetto più evidente */
}

/* Stili per dispositivi mobili */
@media only screen and (max-width: 1200px) {
    .left_div, .right_div {
        width: 100%; /* I div occupano tutta la larghezza */
        margin-right: 0; /* Rimuove il margine tra i div su mobile */
    }

    .right_div {
        margin-top: 10px; /* Aggiunge spazio tra i div quando vanno uno sotto l'altro */
    }

    .poster_img {
        width: 50%; /* Mantiene l'immagine responsive */
        height: auto; /* Permette all'immagine di ridimensionarsi correttamente */
    }
}
