li.li_with_icon {
    font-size: 25px; 
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
  }
  
li.li_with_profile:hover {
    background-size: 38px; 
}

li.li_with_profile {    
    font-size: 30px; 
    background-size: 35px;
    transition: background-size 0.3s ease-in-out;
}