
/* Create space between elements*/
.list_div > * {
    margin-top: 5px;  /* Spazio sopra ogni elemento */
    margin-bottom: 5px;  /* Spazio sotto ogni elemento */
}

.bottom_space {
    margin-bottom: 0.3cm;
}

.bottom_space_big {
    margin-bottom: 0.8cm;
}

.bottom_space_very_big {
    margin-bottom: 1.2cm;
}

.not_so_bold {
    font-weight: 550;
}

.list_span {
    font-size: 25px;
    margin-left: 10px;
}

.explanation_box{
    border: 4px dashed  #f5d682; 
    padding: 20px; 
    border-radius: 10px;
}