@import url('night_mode.css');


/* Create space between elements*/
.list_div > * {
    margin-top: 5px;  /* Spazio sopra ogni elemento */
    margin-bottom: 5px;  /* Spazio sotto ogni elemento */
    margin: auto;
}

.bottom_space {
    margin-bottom: 0.3cm;
}

.bottom_space_big {
    margin-bottom: 0.8cm;
}

.bottom_space_very_big {
    margin-bottom: 1.2cm;
}

.top_space_big {
    margin-top: 0.8cm;
}

.not_so_bold {
    font-weight: 550;
}

.list_span {
    font-size: 25px;
}

/* Explanation callout */
.explanation_box {
    border: 2px solid;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 0.8cm;
    position: relative;
    padding-top: 1.4em;
}
.explanation_box .box-title {
    padding-left: 10px;
    padding-right: 10px;
    color: yellow;
}