
body {
    background-color: #121212;
    color: #dedede;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: #F5F5F7;
    text-align: center;
}

a {
    text-decoration: none;
    color: #6ed6f0;
}

hr {
    border: 0;
    border-top: 2px solid #F5F5F7;
    margin: 20px 0;
}

.yellow {
    color: #f5d682;
}

b {
    color: #ffffff;
    font-weight: 900;
}

.custom-button {
    background-color: transparent;
    color: #6ed6f0;
    border: solid;
    padding: 5px 0px;
    border-radius: 5px;
    cursor: pointer;
    width: 12%;  /* Fixed width */
    height: 10%;  /* Fixed height */
    overflow: hidden;  /* Hide text overflow if necessary */
    border-width: 2px;
  }
  
  .custom-button:hover {
    transform: scale(1.1);
    background-color: blue;
  }
  