
:root {
    --link-color: #7FCEF0;
    --italic-color: #FBFFAD;
    --background-color: #3E3E3E;
    --text-color: #D7D7D7;
    --hover-color: #000ecc;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    /*background-color: var(--hover-color);*/
    color: var(--text-color);
}

a[target="_blank"]:hover {
    background: transparent url(../img/icon/external-link_white.png) no-repeat right !important;
    background-size: 10px 10px !important;
}

hr {
    border: 0;
    border-top: 2px solid var(--text-color);
    margin: 20px 0;
}

i, .yellow {
    color: var(--italic-color);
}

b {
    color: var(--text-color);
    font-weight: 900;
}

