
body {
    background-color: #121212;
    color: #F5F5F7;
}

h1, h2, h3, h4, h5, h6 {
    color: #F5F5F7;
    text-align: center;
}

a {
    text-decoration: none;
    color: #6ed6f0;
}

hr {
    border: 0;
    border-top: 2px solid #F5F5F7;
    margin: 20px 0;
}