/* Stili per dispositivi mobili */
@media only screen and (max-width: 950px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .left_div, .right_div {
        width: 100%; /* I div occupano tutta la larghezza */
        margin-right: 0; /* Rimuove il margine tra i div su mobile */
    }

    .right_div {
        margin-top: 10px; /* Aggiunge spazio tra i div quando vanno uno sotto l'altro */
    }

    .list_div {
        margin-left: 10px;
    }

    .index_img {
        width: 130px !important;
    }

    .poster_img {
        width: 50%; /* Mantiene l'immagine responsive */
        height: auto; /* Permette all'immagine di ridimensionarsi correttamente */
    }

    .poster_table {
        display: block;
    }
    .poster_table tr {
        display: block;
    }
    .poster_table td {
        display: block;
        width: 100% !important;
    }
    .poster_table td + td {
        margin-top: 20px; /* Spazio tra le colonne trasformate in righe */
        padding-left: 0;
    }
    .footer_index {
        width: 90% !important;
    }
    h1 {
        font-size: 40px;
    }
    
    .list_span {
        font-size: 22px !important;
    }
    .divTd {
        display: block !important;
        width: 100% !important;
        margin-bottom: 20px;
    }

}