
body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
}



.giustifica {
    text-align: justify; 
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'JetBrains Mono', monospace !important;
}

h1 {
    font-size: 55px;
}

.inline {
    display: inline;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-left: 5px;
}

li {
    margin: 10px 0;
}

.left {
    text-align: left;
}

.center {
    text-align: center !important;
    margin: auto;
    flex: 1;
}

.briefAboutMe {
    width: fit-content;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    position: relative;
    padding: 0.8em 1.5em 0.5em;
    margin: 1em auto;
}

/* Floating label replacement for <legend> */
.box-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0.3em;
    background-color: var(--background-color);
    white-space: nowrap;
}
.box-title h1, .box-title h2, .box-title h3,
.box-title h4, .box-title h5, .box-title h6 {
    margin: 0;
}