
body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: Verdana, sans-serif;
}

a[target="_blank"] {
    padding-right: 14px;
    background: transparent url(../img/icon/external-link_cyan.png) no-repeat right;
    background-size: 10px 10px;
}

.giustifica {
    text-align: justify !important; 
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 55px;
}

.inline {
    display: inline;
}


ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-left: 5px;
}

li {
    margin: 10px 0;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
    margin: auto;
    flex: 1;
}
