
body {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: Verdana, sans-serif;
}
  
/* Stili per dispositivi mobili */
@media only screen and (max-width: 768px) {
    body {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.content {
    margin: 0 auto;
    text-align: justify;
}

.giustifica {
    text-align: justify !important; 
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 55px;
}

a:hover {
    background-color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 10px 0;
}

img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
}