td {
    vertical-align: top;
}

.verticalCenter {
    vertical-align: middle;
}

/* div to fake a table */
.divTable {
    display: table;
    border-collapse: collapse;
    margin: auto;
}

.divTd {
    display: table-cell;
    width: 10%;
}